* {
    box-sizing: border-box;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* prefers dark mode or unset */
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #191820;
        --foreground-color: #2f2c3c;
        --button-color: #211f2a;
        --operator-color: #484559;
        --clear-color: #623d4f;
        --clear-text-color: #f3cbdc;
        --button-text-color: #d2ced9;
        --text-color: #e2dee3;
        --seperator-color: #c8c4cf;
        --equals-color: #454075;
        --history-color: #262430;
    }
}

/* prefers light mode */
@media (prefers-color-scheme: light) {
    :root {
        --background-color: #fcf8ff;
        --foreground-color: #e6e1ef;
        --button-color: #f3eff9;
        --operator-color: #e4dff9;
        --clear-color: #fed8e8;
        --clear-text-color: #301122;
        --button-text-color: #47464f;
        --text-color: #1b1a1e;
        --seperator-color: #d0ced7;
        --equals-color: #e4dfff;
        --history-color: #eeeaf5;
    }
}

html {
    margin: 0;
    padding: 0;
    width: 100dvw;
    height: 100dvh;

    position: fixed;

    background-color: var(--foreground-color);

    overscroll-behavior: none;
}

body {
    background-color: var(--background-color);
    color: var(--background-color);
    margin: 0;
    padding: 0;

    width: 100dvw;
    height: 100dvh;
}

#app {
    width: 100dvw;
    height: 100dvh;

    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}